@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn,
  .btn2 {
    align-items: center;
    border: 1px solid;
    cursor: pointer;
    display: flex;
    margin-top: 0.8rem;
    padding: 1rem 1.2rem;
    transition: all 0.2s ease;
    width: fit-content;
    font-size: 0.85rem;
  }
  .cart-link {
    @apply relative;
  }
  .cart-link::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
    transition: all 0.3s ease;
    scale: 0;
  }
  .cart-link:hover::before {
    border-bottom: 1px solid;
    scale: 1;
    @apply border-primary;
  }

  @media (max-width: 640px) {
    .btn,
    .btn2 {
      width: 100%;
      justify-content: space-between;
    }
  }
  .btn {
    font-weight: 500;
    gap: 2rem;
  }
  .btn2 {
    gap: 0.4rem;
  }

  .scroller::-webkit-scrollbar {
    display: none;
  }
  .scroller {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .list:nth-of-type(4),
  .list:nth-of-type(1) {
    grid-column: span 2;
  }
  @media (max-width: 768px) {
    .list:nth-of-type(1) {
      grid-column: span 3;
    }
    .list:nth-of-type(4) {
      grid-column: span 1;
    }
  }
  @media (max-width: 550px) {
    .list:nth-of-type(4),
    .list:nth-of-type(1) {
      grid-column: span 2;
    }
  }
  .btn-left,
  .btn-right {
    @apply absolute top-1/2 bg-dark2 p-4 text-lg text-primary;
  }
  .btn-right {
    @apply right-0;
  }

  .mobile li {
    @apply flex w-full items-center justify-between bg-primary p-3 text-dark;
    transition: all 0.3s ease;
  }
  .mobile li span {
    opacity: 0.7;
  }
  .mobile li:hover span,
  .mobile li:focus span {
    opacity: 1;
    scale: 1.04;
  }
}
@layer base {
  footer {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

    /* grid-template-columns:
      minmax(17rem, 1fr) minmax(17rem, 1fr) minmax(25rem, 1fr)
      minmax(17rem, 1fr) minmax(17rem, 1fr) minmax(17rem, 1fr); */
  }
  body {
    /* font-family: "Lato", sans-serif; */
    font-family: "Archivo", sans-serif;
    @apply bg-primary;
    overflow-x: hidden;
  }
  nav li {
    cursor: pointer;
  }
}
